<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>update</title>
    <style>
        #updateForm, input{
            width: 100%;
        }
    </style>
</head>
<body>
    <p>update user</p>
    <form action="/api/student/<%=s.id%>/update?_method=PUT"  method="POST" id="updateForm">
        <input type="text" name="editName" id="editName"  value="<%=s.studentname%>" placeholder="add new counutry"><br><br>
        <input type="number" name="editGrade" id="editGrade" value="<%= s.grade  %>" placeholder="add new grade"><br><br>
        <button class="editBtn">Save</button>
    </form>
</body>
</html>