*{
    font-size: 20px;
}
body{
    max-width: 60%;
    margin: 100px auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 10px;
    /* font-size: 25px; */
}

.students{
    width: 60%;
    background-color: aqua;
}

td, th{
    gap: 10px; 
    /* display: flex; */
    padding: 10px;
}

#search{
    width: 184%;
    margin: 0 auto;
}
#searchInput{
    width: 100%;
}

#addForm{
    width: 450px;
}

#addForm input{
    width: 41.6%;
}

.logout{
    position: absolute;
    right: 30px;
    top: 30px;
    /* margin-left: auto; */
}

.activeUser{
    background-color: rgb(163, 165, 167);
    padding: 2px 5px;
    color: #fff;
}

.loading{
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 5px 10px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
    /* display: none; */
}

table{
    display: none;
}